html, body{
  font-family: "Roboto-Regular", Arial, sans-serif;
}
h1{
  font-size:5rem;
  font-family: "Roboto-Bold", Arial, sans-serif;
}
h2{
  font-size: 3rem;
  font-family: "Roboto-Bold", Arial, sans-serif;
}

.title{
  position: relative;
  margin-bottom:8px;
  text-transform: uppercase;
  &:before{
    content:'';
    display: block;
    width:120px;
    height:4px;
    background-color:$primary-color;
    position: absolute;
    bottom:-8px;
    left:0;
  }
}
