<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Víz gáz profi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description"
          content="Tóth Árpád vagyok, magasan képzett víz-, gáz-, fűtés és gázkészülék szerelő. Várom hívásukat 0-24">
    <meta name="keywords"
          content="víz, gáz, fűtés, szerelés, szerelő, víz- gáz- fűtésszerelés, kerület, Budapest, fűtésszerelő, központi fűtés, Pest megye és környéke">
    <meta property="og:url" content="https://vizgazprofi.hu">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Víz gáz profi">
    <meta property="og:description" content="Tóth Árpád vagyok, magasan képzett víz-, gáz-, fűtés és gázkészülék szerelő. Várom hívásukat 0-24">
    <meta property="og:image" content="https://vizgazprofi.hu/assets/images/vizgazprofi_hero.jpg">
    <link href="main.css" rel="stylesheet">
</head>
<body>

